#title{
	margin-top: -20px;
	background-color: black;
	background-image: url("../images/fractal-wallpapers.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right;
	height: 40%;
	width: 100%;
}

#title-txt{
	text-align: center;
	color: white;
}

#fractaltxt{
	padding-left: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 65%;
	height: auto;
}

#resumetxt{
	padding-left: 20%;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	width: 65%;
	height: auto;
}

#stintro, #ptintro{
	font-size: 18px;
	padding-top: 10%
}

.titleandbody{
	text-align: center;
}

@media screen and (max-width:959px){
	
}


