#title{
	margin-top: -20px;
	background-color: black;
	background-image: url("../images/fractal-wallpapers.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right;
	height: 40%;
	width: 100%;
}

#title-txt{
	text-align: center;
	color: white;
}

#fractaltxt{
	padding-left: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 65%;
	height: auto;
}

#resumetxt{
	padding-left: 20%;
	padding-top: 7.5%;
	padding-bottom: 7.5%;
	width: 65%;
	height: auto;
}

#hometxt{
	padding-left: 10%;
	padding-top: 6.3%;
	padding-bottom: 6.5%;
	width: 70%;
	height: auto;
}

#stintro, #ptintro{
	font-size: 18px;
	padding-top: 10%
}

#mcpu{
	padding-left: 25%;
	padding-top:0%;
	padding-bottom: 5%;

}

#sologo{
	width: 100%;
	height: auto;
}

#ghlogo{
	width: 100%;
	height: auto;
}

#selogo{
	width: 100%;
	height: auto;
}

.titleandbody{
	text-align: center;
}

p.titleandbody{
	font-size: 20px;
}

h2.titleandbody{
	font-size: 45px;
	padding-bottom: 10px;
}

@media screen and (max-width:959px){
	
}


